body
  font-family: Poppins

@font-face 
  font-family: Poppins
  src: url(../statics/fonts/Poppins-Regular.ttf)

.my-card
  border-radius: .7rem
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1)
  -webkit-transition: all .3s ease-in-out

.gradient-background
  background: rgb(121,103,223)
  background: linear-gradient(8deg, rgba(121,103,223,1) 0%, rgba(121,103,223,1) 43%, rgba(47,209,232,1) 100%);background: rgb(121,103,223)

.img-received
  border-radius: .5rem
  border-bottom-left-radius: 0px
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1)
  max-width: 250px

.img-sent
  border-radius: .5rem
  border-bottom-right-radius: 0px
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1)
  max-width: 250px
  min-width: 200px
  float: right